@import 'Navbar';

.main-container {
    display: flex;
    flex-direction: column;

    .comments {
        list-style: none;
        width: 100%;
        margin: 0 auto;
        padding: 0px;

        li {
            border-radius: 10px;
            padding: 5px;
            margin: 5px 0px;
            text-decoration: none;
            p{
                background-color: var(--text-box);
                padding: 5px;
                margin:3px;
                border-radius: 5px;
            }
            
        }

    }

    textarea {
        width: 70%;
        height: 4rem;
        border: 1.5px solid var(--text-color);
        border-radius: 10px;
        margin-left: auto; /* 버튼을 오른쪽 끝으로 이동 */
        resize: none; /* 크기 조절 비활성화 */

    }

    button {
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--text-color);
        width: 10%;
        padding: 10px;
        margin: 10px;
        margin-left: auto; /* 버튼을 오른쪽 끝으로 이동 */
        background-color: var(--text-box);
        border: none;
        border-radius: 5px;
        &:hover{
            transform: scale(1.05);
            transition: 0.6s;
        }
    }
}